@using DateNight.Models

@model Movie[]

    <h1 style="text-align:center;font-size:400%;color:darkred">Movie Search</h1>
<br />
<head>
    <style>
        div.a {
            text-indent: 40px;
        }
    </style>
</head>

@if (Model != null)
{

@foreach (Movie m in Model)
{
    <h4>Title: @m.title</h4>
    <p>
        <b>Rating:</b> @m.ratings[0].body: @m.ratings[0].code <br />
        <b>Runtime:</b> @m.runTime<br />
        <b>Description:</b> @m.longDescription<br />
        <b>Cast:</b> @foreach (string c in m.topCast)
        {
            <div class="a">@c, &nbsp;</div>
        }

        <b>Showtimes:</b> @foreach (Showtime s in m.showtimes)
        {
            <div class="a">
                Time: @Convert.ToDateTime(s.dateTime) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Theater: @s.theatre.name
            </div>
        }
        <hr style="height:2px;border-width:0;color:darkred;background-color:darkred">
    </p>
}
}
else
{
    <p>No movies found</p>
}
<button onclick="goBack()" style="background-color:lightblue">Go Back</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>